.menu {
  background-color: #f8f8f8;
  padding: 10px;
  position: relative;
}

.menu-toggle {
  display: none;
}

.menu-toggle-label {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.menu-toggle-label span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out;
}

.menu-toggle-label span:nth-child(2) {
  transform-origin: center;
}

.menu-toggle:checked ~ .menu-toggle-label span:nth-child(1) {
  transform: rotate(45deg) translate(0, 5px);
}

.menu-toggle:checked ~ .menu-toggle-label span:nth-child(2) {
  opacity: 0;
}

.menu-toggle:checked ~ .menu-toggle-label span:nth-child(3) {
  transform: rotate(-45deg) translate(0, -5px);
}

.menu-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-items li {
  margin-left: 10px;
}

.menu-items a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Media Queries para telas menores */

@media screen and (max-width: 768px) {
  .menu-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px;
  }

  .menu-toggle:checked ~ .menu-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .menu-items li {
    margin-left: 5px;
    margin-bottom: 10px;
  }
}
.menu-toggle-label {
  display: block;
  position: absolute;
  top: 15px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 2px;
}

.menu-toggle-label span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  margin-bottom: 6px;
  transition: transform 0.3s ease-in-out;
}

.menu-toggle-label span:nth-child(2) {
  transform-origin: center;
}

.menu-toggle:checked ~ .menu-toggle-label span:nth-child(1) {
  transform: rotate(45deg) translate(0, 5px);
}

.menu-toggle:checked ~ .menu-toggle-label span:nth-child(2) {
  opacity: 0;
}

.menu-toggle:checked ~ .menu-toggle-label span:nth-child(3) {
  transform: rotate(-45deg) translate(0, -5px);
}
.menu-toggle-label {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 5px;
}

.menu-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start; /* Ajuste para alinhar no topo */
  margin: 20px; /* Espaçamento vertical */
}

.menu-items li {
  margin-left: 10px;
}

.menu-items a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
